arabic-reshaper
astroid
autopep8
boto3
botocore
cachetools
certifi
chardet
charset-normalizer
Click
defusedxml
diff-match-patch
dj-database-url
Django
django-allauth
django-appconf
django-bmemcached
django-ckeditor
django-crispy-forms
django-extensions
django-heroku
django-import-export
django-js-asset
django-leaflet
django-phone-field
django-redis
django-redis-cache
django-storages
django-taggit
django-widget-tweaks
et-xmlfile
Faker
future
geojson
geojson-rewind
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
html5lib
httplib2
idna
isort
itsdangerous
jdcal
Jinja2
jmespath
lazy-object-proxy
licenseheaders
MarkupPy
MarkupSafe
mccabe
numpy
oauthlib
odfpy
openpyxl
packaging
pandas
Pillow
polib
protobuf
#https://www.psycopg.org/docs/install.html#install-from-source
#psycopg2
#psycopg2-binary
#Also new django requires psycopg (3)
psycopg
psycopg-binary
pyasn1
pyasn1-modules
pycodestyle
pylint
pyparsing
PyPDF2
python-bidi
python-binary-memcached
python-dateutil
python3-openid
pytz
PyYAML
redis
reportlab
requests
requests-oauthlib
reverse-geocoder
rsa
s3transfer
scipy
selenium
shapely
singledispatch
six
sqlparse
tablib
text-unidecode
typing
uhashring
uritemplate
urllib3
virtualenv
webencodings
Werkzeug
whitenoise
wrapt
xhtml2pdf
xlrd
xlwt